

.separator div,
body {
	background-color:	;
	color:				;
}

a,
.vntd-accent-color {
	color:				#d71818;
}



/* Navigation */

#navigation-sticky.white-nav,
.second-nav.white-nav,
.white-nav .nav-menu ul.dropdown-menu {
	background-color:	;
}

#navigation-sticky.white-nav,
.second-nav.white-nav .nav-menu,
.first-nav.white-nav .nav-menu ul.dropdown-menu li a {
	color:	;
}

.second-nav.white-nav .nav-inner .nav-menu ul li.active a,
.white-nav .nav-menu ul.dropdown-menu li a:hover,
.white-nav .nav-menu ul.dropdown-menu li.active a,
.nav>li>a:hover, .nav>li>a:focus {
	background-color:	 !important;
}

/* Page Title */

section.page_header {
	background-color:	;
	border-color:		;
}

section.page_header .page_header_inner .p_head_left h1.p-header {
	color:	;
}

section.page_header .page_header_inner .p_head_left p.p-desc {
	color:	;
}

section.page_header .page_header_inner .p_head_right a.p-head-button {
	color:	;
}

/* Footer */

.footer.white-bg {
	background-color:	 !important;
	border-color:		;
	color:				;
}
#page-content .footer p,#page-content .footer a,.footer.white-bg a,
.footer.white-bg p {
	color:				;
}

/* Typography */

 h1,h2,h3,h4,h5,h6 { color:; }
/* Text Colors */

	.colored,
	.testimonials li.text h1 span,
	#page-content .vntd-pricing-box.p-table.active h1,
	#page-content .vntd-pricing-box.p-table.active h3,
	#address .address-soft a.mail-text:hover,
	.white-nav .nav-menu ul.dropdown-menu li a:hover,
	.vntd-icon-box.box:hover .left-icon a,
	.white-nav .nav-menu ul.dropdown-menu li.active a,
	footer.footer a:hover,
	section.page_header .page_header_inner .p_head_right a.p-head-button:hover,
	body.dark-layout section.page_header .page_header_inner .p_head_right a.p-head-button:hover,
	#blog .details .post-info a.post-item:hover,
	.dark-nav .nav-menu ul.dropdown-menu li a:hover,
	.dark-nav .nav-menu ul.dropdown-menu li.active a,
	a.text-button:hover,
	.blog .details a.post-item:hover,
	span.post-item a:hover,
	.nav-menu ul li a:hover,
	.nav-menu ul li.active a,
	#page-content .color-accent,
	.blog .post a.read-more-post:hover,
	.address-soft a.mail-text:hover,
	.bar.widget_rss a.rsswidget:hover,
	.twitter-feed-icon:hover,
	.woocommerce ul.products li.product .price,
	#woo-nav-cart i.added,
	.woocommerce .star-rating span:before,
	.vntd-portfolio-carousel.blog-carousel .works .item h1.f-head a:hover
	{
		color: #d71818;
	}
	
	.current_page_item > a,
	.current-menu-ancestor > a,
	.current-menu-parent > a,
	.price  {
		color: #d71818 !important;
	}

/* Background Colors */

	/* ::selection, */
	.colored-bg,
	a.page-content-button:hover,
	.feature-box:hover a.box-icon,
	.vntd-portfolio-carousel .works .item .featured-ball:hover,
	.vntd-cta-button:hover,
	.vntd-pricing-box.p-table.active a.p-button,
	.vntd-pricing-box.p-table a.p-button:hover,
	a.active-colored,
	.blocked,
	.modal .modal-inner a.close:hover,
	.portfolio a.portfolio-view-more:hover,
	body.dark-layout .portfolio a.portfolio-view-more:hover,
	#team .team .team-boxes .item .member-details .details a.member-detail-button:hover,
	.bar .tagcloud a:hover,
	#respond #submit:hover,
	ul.pagination li.active a,
	ul.pagination li.active a:hover,
	body.dark-layout ul.pagination li.active a,
	body.dark-layout ul.pagination li.active a:hover,
	.contact form button.contact-form-button:hover,
	.btn-accent,
	.vntd-list-bg i,
	.vntd-accent-bgcolor,
	.pagination .current,
	.contact .wpcf7-submit:hover,
	.blog .post.sticky .blog-head,
	.portfolio .portfolio-items div.colio-active-item .item-inner,
	#page-content .colio-navigation a:hover,
	#page-content .colio-close,
	.woocommerce ul.products li.product .button:hover,
	::selection,
	#woo-nav-cart .button:hover,
	.woocommerce #page-content .button:hover,
	.woocommerce #review_form #respond .form-submit input:hover,
	.woocommerce ul.products li.product .onsale,
	.woocommerce span.onsale,
	#page-content .woocommerce .button:hover,
	.woocommerce a.remove:hover,
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
	.vntd-portfolio-carousel.blog-carousel .works .owl-controls .owl-buttons div:hover {
		background-color: #F9A221;
	}

/* Border Colors */

	.colored-border,
	.feature-box:hover a.box-icon:after,
	a.text-button:hover,
	#team .team .team-boxes .item .member-details .details a.member-detail-button:hover,
	.bar .tagcloud a:hover,
	ul.pagination li.active a,
	ul.pagination li.active a:hover,
	.bs-callout-north,
	.vntd-icon-box.box:hover .left-icon a,
	.btn-accent,
	.pagination .current,
	.contact .wpcf7-submit:hover,
	blockquote,
	.nav-cart-products,
	.pulsed,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active  {
		border-color:#d71818;
	}

	.tabs .nav-tabs li.active a,
	.nav-menu ul.dropdown-menu{
		border-top-color:#d71818;
	}
	
	.vntd-tour .nav-tabs li.active a {
		border-left-color:#d71818;
	}
	
/* Font Sizes */

body { font-size:px; } .nav-menu ul li a { font-size:px; } #page-title h1 { font-size:px; } section.page_header .page_header_inner .p_head_left p.p-desc { font-size:px; } section.page_header .page_header_inner .p_head_right a.p-head-button { font-size:px; } .header { font-size:px; } h1 { font-size:px; } h2 { font-size:px; } h3 { font-size:px; } h4 { font-size:px; } h5 { font-size:px; } h6 { font-size:px; } footer p, footer a { font-size:px; }
/*
     FILE ARCHIVED ON 16:15:51 Jul 26, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:22:43 Jul 26, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 221.395 (3)
  esindex: 0.014
  captures_list: 243.893
  CDXLines.iter: 15.001 (3)
  PetaboxLoader3.datanode: 88.235 (3)
  exclusion.robots: 0.247
  exclusion.robots.policy: 0.233
  RedisCDXSource: 2.499
  PetaboxLoader3.resolve: 126.524
  load_resource: 23.818
*/
